@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container img {
  /*   background-image:url('https://cdn.pixabay.com/photo/2023/05/29/22/29/seattle-8027337_1280.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  z-index: 2;
}

main {
  font-family: "Roboto", sans-serif;
  border: 3px solid gray;
  background-color: #f1f3f5;
  padding: 0 10rem;
  /*   margin:5rem auto; */
  text-align: center;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 9px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  z-index: 3;
}

main h1 {
  margin: 4rem auto;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 2rem;
  color: #748ffc;
}

.open--modal {
  background-color: #dee2e6;
  position: absolute;
  top: 5rem;
  left: 40%;
}

.close--modal {
  margin-bottom: 2rem;
  background-color: #dee2e6;
}

.btn {
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 9px;
  color: #343a40;
}

.hidden {
  display: none;
  opacity: 0.5;
}

.opacity {
  opacity: 0.5;
  background-color: transparent;
  box-shadow: 0 0 10px 6px #000;
}
